.cont{
    width: 90%;
    max-width: 600px;
    height: 200px;
    margin: 50px auto ;
    padding: 30px;
    background-color: #947e7e;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    font-family: 'Helvetica Neue', sans-serif;
    color: #000000;
    line-height: 1.5;
}

body{
    background-color: #000;
}
.cont p{
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

